<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% for img in images %}
    <div class="rounded-2xl bg-white/10 backdrop-blur-lg shadow-lg overflow-hidden hover:scale-105 transition-transform">
        <img src="{{ url_for('static', filename='processed/' ~ img) }}" 
            alt="Processed Image"
        class="w-full h-64 object-contain">
    </div>
    {% endfor %}
</body>
</html>